/* Genral style */
@font-face {
  font-family: SassoonInfantStd;
  src: url("../font/SassoonInfantStd.otf");
}

:root {
  --bg-color: #0fa0c5;
  --footer-color: #deecf6;
  --secondary-color: #f5821f;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: SassoonInfantStd, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

h1 {
  font-size: 38px;
  font-weight: 500;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Loader */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("./../img/loader.gif") 50% 50% no-repeat rgb(255, 255, 255);
}

/* Container */
.container {
  transition: all 500ms ease-in-out;
  position: absolute;
  width: 1280px;
  height: 960px;
  top: 0;
  left: 0;
  right: 0;
  transform-origin: top left;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124.8px;
  padding: 0 1rem;
}

.header__btns {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 20%;
}

.header__btns--item {
  cursor: pointer;
}

.header__btns--item:last-child {
  margin-left: 20%;
}

.main {
  height: 710.4px;
  background-color: var(--bg-color);
  position: relative;
}

.main--bg {
  position: absolute;
  top: -15px;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: 740.4px;
  padding: 1.4rem 0 1rem;
  border: 5px solid var(--secondary-color);
  border-radius: 20px;
  background-color: #fff;
  z-index: 100;
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10;
}

/* Resource */
.resource,
.help {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem 0 2rem;
  overflow: hidden;
}

.resource__img {
  width: 95%;
}

/* Help */
.help h3 {
  font-size: 30px;
  font-weight: 500;
}

.close-btn {
  width: 60px;
  cursor: pointer;
}

/* Game */
.game__questions,
.game__answers {
  display: flex;
}

.game__questions--item {
  justify-content: space-between;
  height: 253px;
}

.game__questions--item,
.game__answers--item {
  display: flex;
  width: 25%;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.game__questions--item img {
  height: 76%;
}

.game__answers--item {
  height: 200px;
}

.game__answers--item img {
  height: 30%;
  animation: blink-animation 0.3s steps(15, start) infinite;
}

@keyframes blink-animation {
  to {
    opacity: 0.6;
    visibility: hidden;
  }
}

.game__answers--item h2 {
  font-size: 60px;
  font-weight: 500;
}

.game__results audio {
  display: none;
}

.game__results line {
  stroke: #0fa0c5;
  stroke-width: 4px;
  stroke-dasharray: 2000px;
  stroke-dashoffset: 2000px;
  animation: match 0.6s ease-in-out forwards;
}

@keyframes match {
  100% {
    stroke-dashoffset: 0;
  }
}

.match-circle {
  width: 30px;
  height: 30px;
  border: 4px solid var(--secondary-color);
  border-radius: 50%;
  position: relative;
  background-color: #fff;
}

.match-circle.selected {
  border-color: #f5831f7e;
  cursor: default;
}

.game__questions .match-circle {
  bottom: -10px;
}

.game__answers .match-circle {
  top: -14px;
}

.match-circle.active {
  background-color: var(--bg-color);
}

/* Footer */
.footer {
  height: 124.8px;
  padding: 0 1rem;
  background-color: var(--footer-color);
}

.footer__btns {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer__btns--item {
  cursor: pointer;
  flex: 0 1 6%;
}

.footer__btns--item:last-child {
  flex: 0 1 8%;
  margin-left: 55%;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.6;
  cursor: default;
}
